<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Build Order</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="javascipt/angular.min.js"></script>
    <script src="javascipt/controller.js"></script>
    <script src="javascipt/format-price.js"></script>
    <script src="javascipt/html2canvas.js"></script>
</head>
<body ng-app="myApp" ng-controller="controller">
<div class="col-lg-6" style="clear: both; margin-top: 30px">
    <form name="myForm">
        <div class="form-group col-lg-12">
            <label>Trường</label>
            <select ng-model="profile.school" name="school" class="form-control">
                <option selected="selected" value="">-- Chọn Trường --</option>
                <option ng-repeat="school in schools" value="{{ school }}">{{ school }}</option>
            </select>
        </div>

        <div>
            <div class="form-group col-lg-6">
                <label>Tên Sinh Viên</label>
                <input ng-model="profile.name" name="name" type="text" class="form-control" placeholder="Tên Sinh Viên">
            </div>

            <div class="form-group col-lg-2">
                <label>Ngày Sinh</label>
                <select ng-model="profile.birthday.day" name="birthdayDay" class="form-control">
                    <option ng-repeat="n in range(1, 31)" ng-value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</option>
                </select>
            </div>

            <div class="form-group col-lg-2">
                <label>Tháng</label>
                <select ng-model="profile.birthday.month" name="birthdayMonth" class="form-control">
                    <option ng-repeat="n in range(1, 12)" ng-value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</option>
                </select>
            </div>

            <div class="form-group col-lg-2">
                <label>Năm</label>
                <select name="birthdayYear" ng-model="profile.birthday.year" class="form-control">
                    <option ng-repeat="n in range(1960, 2000)" ng-value="n">{{ n }}</option>
                </select>
            </div>

            <div class="form-group col-lg-12">
                <label>Địa Chỉ</label>
                <input name="address" ng-model="profile.address" type="text" class="form-control" placeholder="Địa chỉ">
            </div>

            <div class="form-group col-lg-12">
                <label>Lý Do</label>
                <input name="reason" ng-model="profile.reason" type="text" class="form-control" placeholder="Lý Do">
            </div>

            <div class="form-group col-lg-12">
                <label>Số Tiền</label>
                <input name="fee" ng-model="profile.fee" type="number" class="form-control" placeholder="Số Tiền">
            </div>
        </div>

        <div class="col-lg-12">
            <button type="button" ng-click="printToCart('print')" class="btn btn-default">Print</button>
            <!--<button ng-disabled="!formDisabled()" type="button" ng-click="printToCart('print')" class="btn btn-default">Print</button>-->
        </div>
    </form>
</div>

<div id="print" style="clear: both; width: 21cm; height: 29.7cm; display: none">
    <div style="color:#333; font-size: 18px; width: 21cm; height: 14.5cm; background: url('imges/logo-tuyển-sinh-miền-bắc.png') no-repeat center; background-size: 498px 386px;">
        <p style="font-size: 14px; font-weight: bold; text-transform:uppercase">{{ profile.school }}</p>
        <p style="margin-top: -10px; font-size: 12px; font-style: italic">Số 36, Mạc Thái Tổ, Cầu Giấy, Hà Nội</p>
        <p style="text-align: center; font-size: 26px; font-weight: bold; margin-top: 8px">BIÊN LAI THU TIỀN</p>
        <p style="text-align: center; margin-top: -20px">Số:______/TSMB</p>

        <div style="padding: 10px; font-style: italic">
            <div style="clear: both">
                <p style="float: left">Họ và Tên: {{ profile.name }}</p>
                <p style="float: right; margin-right: 150px">Ngày sinh: {{ profile.birthday.day + '/' + profile.birthday.month + '/' + profile.birthday.year }}</p>
            </div>


            <div style="clear: both">
                <p>Địa chỉ: {{ profile.address }}</p>
                <p>Lý do thu: {{ profile.reason }}</p>
                <p>Số tiền thu: {{ profile.fee | number }} VNĐ</p>
                <p>Số tiền bằng chữ: {{ getPriceByWrite(profile.fee) }}</p>
            </div>
        </div>

        <p style="float: right; margin-right: 100px; margin-top: -10px">Ngày {{ date | date:'dd' }} Tháng {{ date | date:'MM' }} Năm {{ date | date:'yyyy' }}</p>

        <div style="clear: both;">
            <p style="float: left; margin-left: 100px; margin-top: -10px">Bên Nộp</p>
            <p style="float: right; margin-right: 250px; margin-top: -10px">Bên Thu</p>
        </div>
    </div>
    <div style="border-top:1px dotted #333;  color:#333; font-size: 18px; width: 21cm; height: 14.5cm; background: url('imges/logo-tuyển-sinh-miền-bắc.png') no-repeat center; background-size: 498px 386px;">
        <p style="font-size: 14px; font-weight: bold; text-transform:uppercase">{{ profile.school }}</p>
        <p style="margin-top: -10px; font-size: 12px; font-style: italic">Số 36, Mạc Thái Tổ, Cầu Giấy, Hà Nội</p>
        <p style="text-align: center; font-size: 26px; font-weight: bold; margin-top: 8px">BIÊN LAI THU TIỀN</p>
        <p style="text-align: center; margin-top: -20px">Số:______/TSMB</p>

        <div style="padding: 10px; font-style: italic">
            <div style="clear: both">
                <p style="float: left">Họ và Tê: {{ profile.name }}</p>
                <p style="float: right; margin-right: 150px">Ngày sinh: {{ profile.birthday.day + '/' + profile.birthday.month + '/' + profile.birthday.year }}</p>
            </div>


            <div style="clear: both">
                <p>Địa chỉ: {{ profile.address }}</p>
                <p>Lý do thu: {{ profile.reason }}</p>
                <p>Số tiền thu: {{ profile.fee | number }} VNĐ</p>
                <p>Số tiền bằng chữ: {{ getPriceByWrite(profile.fee) }}</p>
            </div>
        </div>

        <p style="float: right; margin-right: 100px; margin-top: -10px">Ngày {{ date | date:'dd' }} Tháng {{ date | date:'MM' }} Năm {{ date | date:'yyyy' }}</p>

        <div style="clear: both;">
            <p style="float: left; margin-left: 100px; margin-top: -10px">Bên Nộp</p>
            <p style="float: right; margin-right: 250px; margin-top: -10px">Bên Thu</p>
        </div>
    </div>
</div>
</body>
</html>